[submodule "libs/plog"]
	path = libs/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/google-test"]
	path = libs/google-test
	url = https://github.com/google/googletest.git
[submodule "libs/imgui/imgui"]
	path = libs/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/freetype2"]
	path = libs/freetype2
	url = https://github.com/aseprite/freetype2.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
